<head><link rel="stylesheet" type="text/css" href="styles/footer.css"></head>
<footer>
  <% let date = new Date(); %>
  <% year = date.getFullYear() %>
  <p>© <%= year %>, WUN LIM ZHE</p>
  <p>App created with <a href="https://openlibrary.org/dev/docs/api/covers" target="_blank">Open Library Covers API</a></p>
</footer>